.sticky-nav {
  background: white !important;
}

.sticky-nav a {
  color: #4c4f5c;
}

.header-change {
  background: #2b2d42;
  display: block;
  position: relative;
}

nav {
  li {
    a {
      font-family: "Raleway";
      font-size: large;
    }
  }
}
