<div
  class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 grid-flow-row grid md:grid-cols-2 max-w-fit"
>
  <p class="text-white col-span-3 text-4xl rounded-tl-xl font-semibold">
    <span>Fast</span> and<br />
    Secure Delivery
  </p>
  <input
    type="text"
    placeholder="Enter Tracking No."
    class="px-3 md:px-8 py-2 text-lg col-span-2 rounded-tl-md"
  />
  <button
    class="bg-[#2b2d42] text-white px-3 md:px-8 py-2 text-xl rounded-br-md w-full"
  >
    Track
  </button>
</div>
